<section class="section flex items-center" id="about" #aboutSection>
    <div class="container mx-auto">
        <div class="flex flex-col xl:flex-row xl:justify-between">
            <div class="flex-1 mb-8 xl:mb-0">
                <img class="rounded-[20px]" src="assets/about/car01.png" width="600" height="448">
            </div>
            <div class="flex-1 flex items-center xl:justify-center">
                <div class="xl:max-w-[517px]">
                    <h2 class="h2">Car services simplified.</h2>
                    <p class="mb-[35px] max-w-md">Rent, choosen, and repair with ease. Our convenient locations,
                        diverse car types, and reliable repair points ensure a seamless car experience.
                    </p>
                    <div class="flex items-center gap-x-8 mb-10">
                        <div class="flex flex-col w-[100px]">
                            
                            <span class="material-symbols-outlined text-5xl text-accent mb-2">directions_car</span>                                
                            <div class="text-2xl font-black mb-2" >{{carTypes}}+</div>
                            <div class="uppercase text-[13px] font-semibold text-secondary">Car <br> types</div>
                        </div>
                        <div class="flex flex-col w-[100px]">
                            <span class="material-symbols-outlined text-5xl text-accent mb-2">emoji_transportation</span>
                                
                            <div class="text-2xl font-black mb-2" >{{rentalOutlets}}+</div>
                            <div class="uppercase text-[13px] font-semibold text-secondary">rental <br> outlets</div>
                        </div>
                        <div class="flex flex-col w-[100px]">
                            <span class="material-symbols-outlined text-5xl text-accent mb-2">build_circle </span>
                                
                            <div class="text-2xl font-black mb-2" >{{repairPoints}}+</div>
                            <div class="uppercase text-[13px] font-semibold text-secondary">repair <br> points</div>
                        </div>
                    </div>
                    <button class="hidden xl:block bg-accent hover:bg-accent-hover rounded-[10px] w-full h-16 uppercase font-medium text-white tracking-[2px] text-[13px] max-w-[184px]">See all cars</button>
                </div>
            </div>
        </div>
    </div>
</section>
