<div class="max-w-[1920px] bg-white mx-auto relative overflow-hidden">
    <app-header></app-header>

    <section id="hero">
        <app-hero></app-hero>
    </section>
    <section id="cars">
        <app-cars></app-cars>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="why">
        <app-why></app-why>
    </section>
    <section id="testimonial">
        <app-testimonial></app-testimonial>
    </section>
    <section id="contact">
        <app-contact></app-contact>
    </section>

    
   
    <app-footer></app-footer>
    <app-back-to-top></app-back-to-top>
    <div class="h-[4000px]" ></div>
</div>
