<div class="w-full h-full flex xl:flex-row ">
    <div class="relative flex-1">
      <button
        class="w-full h-full flex flex-col justify-center items-center xl:items-start xl:pl-8"
        (click)="toggleMenu()"
      >
        
          
            <div
              class="flex flex-col xl:flex-row items-center xl:gap-x-2 gap-y-2 xl:gap-y-0"
            >
              <span class="text-accent"
                ><i class="fa-solid fa-calendar-days"></i></span>
              <div class="text-[15px] uppercase font-bold">Select Date</div>
            </div>
            <div class="flex items-center gap-x-3 xl:ml-6">
              <div class="text-[13px] font-medium text-secondary">{{ date[0].startDate | date: 'dd/MM/yyyy' }}</div>
              <span class="text-accent text-[12px]"><i class="fa-solid fa-arrow-right"></i></span>
              <div class="text-[13px] font-medium text-secondary">{{ date[0].endDate| date: 'dd/MM/yyyy' }}</div>
            </div>
            
            
         
      </button>
      <div class="h-[50px]  shadow-lg absolute -top-80 xl:top-[70px] left-1/2 xl:left-0 z-50 transform -translate-x-1/2 xl:-translate-x-0  rounded-[10px] overflow-hidden" *ngIf="isMenuOpen">
        <mat-form-field    appearance="fill">          
          <mat-date-range-input [rangePicker]="picker" >      
            <input matStartDate placeholder="startDate" [(ngModel)]="date[0].startDate">      
            <input matEndDate placeholder="End date" [(ngModel)]="date[0].endDate">      
          </mat-date-range-input>      
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>      
          <mat-date-range-picker #picker></mat-date-range-picker>      
        </mat-form-field> 
      </div>
    </div>
  </div>
  
